<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.winda.couchpotato">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_logo_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SubmissionJetpackPro1">
        <activity
            android:name=".ui.detail.DetailActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.winda.couchpotato.ui.catalogue.CatalogueActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_catalogue"
            android:theme="@style/Theme.SubmissionJetpackPro1.NoActionBar"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".ui.splashscreen.SplashScreenActivity"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>